body{
    font-family: sans-serif;
    font-size: 100%;
    background-color: #000;
}
#navbar{
    display: inline-block;
    background-color: darkblue;
    width: 100vw;
    font-size: 2em;
}
#site_name{
    float: left;
    color: #fff;
}
#nav_links{
    float: right;
}
#nav_links a{
    text-decoration: none;
    color: lightblue;
}
main{
    height: 100vh;
}
section{
    display: flex;
    float: left;
    width: 100vw;
    height: 25vh;
}
section h1{
    margin: auto;
}
#home{
    background-color: red;
}
#bio{
    background-color: yellow;
}
#media{
    background-color: green;
}
#contact{
    background-color: blue;
}
