body{
    font-family: sans-serif;
    font-size: 100%;
    background-color: #000;
}
#navbar{
    display: inline-block;
    background-color: black;
    width: 100vw;
    font-size: 2em;
}
#site_logo{
    float: left;
    color: #fff;
}
#nav_links{
    float: right;
}
#nav_links a{
    text-decoration: none;
    color: lightblue;
    padding: 3%;
    border: 2px solid #fff;
}
main{
    height: 100vh;
}
section{
    display: flex;
    float: left;
    width: 100vw;
    height: 25vh;
}
section h1{
    margin: auto;
}
#home{
    background-color: darkred;
}
#bio{
    background-color: darkorange;
}
#media{
    background-color: darkgreen;
}
#contact{
    background-color: darkblue;
}
